---
import Button from './button.astro';
import Post1, { title as title1, slug as slug1 } from './post-1.astro';
import Post2, { title as title2, slug as slug2 } from './post-2.astro';
import Post3, { title as title3, slug as slug3 } from './post-3.astro';
import Post4, { title as title4, slug as slug4 } from './post-4.astro';
import Post5, { title as title5, slug as slug5 } from './post-5.astro';
---

<section
  id='blog'
  class='bg-black bg-[url("/img/south-ring.jpg")] bg-cover bg-center'
>
  <div class='container md:flex'>
    <nav
      class='md:w-1/3 py-8 sm:-ml-[50vw] sm:pl-[50vw] p-4 bg-black/40 flex-none box-content pt-24'
    >
      <h2 class='text-2xl text-white pb-2 mb-4 font-bold border-b'>BLOG</h2>

      <Button slug={slug5} title={title5} />
      <Button slug={slug4} title={title4} />
      <Button slug={slug3} title={title3} />
      <Button slug={slug2} title={title2} />
      <Button slug={slug1} title={title1} />
    </nav>

    <div
      class='flex flex-1 overflow-x-scroll md:pl-8 snap-x snap-mandatory items-start scroll-smooth'
    >
      <Post5 />
      <Post4 />
      <Post3 />
      <Post2 />
      <Post1 />
    </div>
  </div>
</section>

<script>
  const ACTIVE_BUTTON = ['bg-white', 'font-bold'] as const;
  const INACTIVE_BUTTON = ['bg-gray-300', 'font-semibold'] as const;
  const buttons = document.querySelectorAll<HTMLElement>('#blog nav a');

  let activeIndex = 0;

  document
    .querySelector<HTMLElement>('#blog .snap-x.snap-mandatory.scroll-smooth')
    ?.addEventListener('scroll', function (e) {
      const { scrollLeft, clientWidth } = e.target as HTMLElement;
      const scrollIndex = Math.round(scrollLeft / clientWidth);
      if (scrollIndex != activeIndex) {
        activeIndex = scrollIndex;
        buttons[activeIndex]?.classList.remove(...INACTIVE_BUTTON);
        buttons[activeIndex]?.classList.add(...ACTIVE_BUTTON);
        buttons.forEach(function (button, index) {
          if (index != activeIndex) {
            button.classList.remove(...ACTIVE_BUTTON);
            button.classList.add(...INACTIVE_BUTTON);
          }
        });
      }
    });

  buttons[0]?.classList.remove(...INACTIVE_BUTTON);
  buttons[0]?.classList.add(...ACTIVE_BUTTON);
</script>
